RIBBITTO_DATABASE_URL=postgres://postgres:ribbitto-dev-only@127.0.0.1:5432/ribbitto?sslmode=disable
RIBBITTO_TEST_DATABASE_URL=postgres://postgres:ribbitto-dev-only@127.0.0.1:5432/postgres?sslmode=disable
# Set to 1 to require a database for integration tests.
RIBBITTO_REQUIRE_DB=0
